/*********************** GENERAL **********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Shrikhand", cursive;
  font-family: "Roboto", arial, sans-serif;
  font-size: 10px;
}

body {
  max-width: 1920px;
  margin: 0 auto;
}

h1,
h2 {
  font-family: "Roboto", arial, sans-serif;
  font-size: 2.8rem;
}

p {
  font-family: "Roboto", arial, sans-serif;
  font-size: 1.8rem;
}

.icon {
  width: 1.5rem;
}

/****************************************************
*****************************************************
*********************** ACCUEIL *********************
*****************************************************
*****************************************************/
/*********************** HEADER **********************/
.header .header__left {
  width: 16.3rem;
  margin: 2.5rem auto 1.5rem auto;
}
.header .header__logo {
  width: 100%;
}

.search {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 1.5rem;
  background-color: #eaeaea;
  box-shadow: 0px 3px 0px rgba(50, 50, 50, 0.25) inset;
}

.search__icon {
  margin: 0 1rem 0 0;
}

.search__place {
  width: 15rem;
  display: inline-flex;
  justify-content: center;
}
.search__place input {
  outline: none;
  border: none;
  height: 100%;
  width: 15rem;
  margin: 0 auto;
  background-color: #eaeaea;
}
.search__place input::placeholder {
  color: #111;
  opacity: 1;
  font-size: 1.8rem;
}

/*********************** SECTION: VALUE **********************/
.value {
  background-color: #f6f6f6;
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.value .value__title {
  text-align: center;
  margin: 2rem;
}
.value .value__info {
  margin: 0 2.5rem 2rem 2.5rem;
  text-align: center;
  color: gray;
}

.btn {
  background-color: #9356dc;
  color: #fff;
  padding: 1.5rem 2.5rem;
  margin: 1rem 0 3rem 0;
  align-content: center;
  border-radius: 20rem;
  border-style: none;
  font-size: 2rem;
  cursor: pointer;
  outline: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
}
.btn:hover {
  scale: 1.05;
}

/*********************** SECTION: OPERATION **********************/
.op__margin {
  margin: 3rem 2rem 9rem 2rem;
}
.op__margin h1 {
  margin-bottom: 4rem;
}

.op__container {
  display: flex;
  align-items: center;
  margin-top: 2.5rem;
}
.op__container .op__number {
  box-sizing: content-box;
  background-color: #9356dc;
  border-radius: 50%;
  color: #fff;
  width: 2.5rem;
  height: 2.5rem;
  text-align: center;
  margin-left: -15px;
  padding: 5px 3px 0 3px;
}

.op__card {
  background-color: #f6f6f6;
  border-radius: 2rem;
  height: 7rem;
  width: 100%;
  display: flex;
  align-items: center;
  margin-left: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
}
.op__card:hover {
  background-color: rgba(147, 86, 220, 0.1);
}
.op__card .op__card__icon {
  background-size: 1.5rem;
  background-position: center;
  background-repeat: no-repeat;
  height: 3rem;
  width: 2rem;
  margin: 0 2.5rem;
}
.op__card .op__card__icon__1 {
  background-image: url("images/Icones/mobile-alt-solid-gray.png");
}
.op__card .op__card__icon__2 {
  background-image: url("images/Icones/bars-solid-gray.png");
}
.op__card .op__card__icon__3 {
  background-image: url("images/Icones/store-solid-gray.png");
  background-size: 2rem;
}

.op__card:hover .op__card__icon__1 {
  background-image: url("images/Icones/mobile-alt-solid-purple.png");
}
.op__card:hover .op__card__icon__2 {
  background-image: url("images/Icones/bars-solid-purple.png");
}
.op__card:hover .op__card__icon__3 {
  background-image: url("images/Icones/store-solid-purple.png");
}

/*********************** SECTION: RESTAURANT **********************/
.resto__margin {
  margin: 5rem 2rem;
}
.resto__margin h1 {
  margin-bottom: 2rem;
}

.resto__card {
  max-width: 43rem;
  min-width: 28rem;
  height: 25rem;
  border-radius: 1.5rem;
  position: relative;
  margin: 2rem 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
}
.resto__card > * {
  text-decoration: none;
  color: initial;
}
.resto__card img {
  width: 100%;
  height: 17.5rem;
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
}
.resto__card .resto__card__badge {
  color: #018765;
  background-color: #98e2d0;
  padding: 1rem 1.5rem;
  border-radius: 0.2rem;
  position: absolute;
  top: 2rem;
  right: 2rem;
  font-size: 1.4rem;
}
.resto__card h1 {
  font-size: 2rem;
  margin: 1rem auto 0.5rem 1.5rem;
}
.resto__card .resto__card__lieu {
  margin: 0 1.5rem;
}
.resto__card .resto__card__heart {
  position: absolute;
  background-image: url("images/Icones/heart-regular.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 3.1rem;
  width: 2.7rem;
  right: 3rem;
  bottom: 2.5rem;
}

/*********************** FOOTER **********************/
.footer {
  background-color: #343434;
  padding-bottom: 3rem;
}

.footer__container {
  margin: 2rem 0 0 2rem;
}
.footer__container .footer__logo {
  margin: 2.5rem 0;
  width: 10rem;
}
.footer__container p {
  color: #fff;
  line-height: 2.4rem;
}
.footer__container .footer__icon {
  background-repeat: no-repeat;
  background-position: left;
  background-size: 1rem 1.5rem;
  padding-left: 2rem;
}

.footer__icon__ustensils {
  background-image: url("images/Icones/utensils-solid-white.png");
}

.footer__icon__hands {
  background-image: url("images/Icones/hands-helping-solid-white.png");
}

/*# sourceMappingURL=style.css.map */
