@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
}
@media (min-width: 1200px) {
  * {
    font-size: 11px;
  }
}

body {
  max-width: 1440px;
  margin: 0 auto;
}

h1,
h2 {
  font-family: "Roboto", arial, sans-serif;
  font-size: 2.8rem;
}

p {
  font-family: "Roboto", arial, sans-serif;
  font-size: 1.6rem;
}

* {
  font-family: "Shrikhand", cursive;
  font-family: "Roboto", arial, sans-serif;
}

.btn {
  display: block;
  background: linear-gradient(to top left, #9356dc, #ff79da);
  color: #fff;
  padding: 1.5rem 2.5rem;
  margin: 1rem auto 3rem auto;
  align-content: center;
  border-radius: 20rem;
  border-style: none;
  font-size: 2rem;
  cursor: pointer;
  outline: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 1;
  transform: opacity;
}
.btn:hover::after {
  opacity: 1;
}
.btn::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(to top left, #965add, #ff88de);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
  color: #fff;
  z-index: -1;
  opacity: 0;
  transition: opacity 100ms;
  border-radius: 20rem;
}

.heart--empty {
  width: 25px;
  height: 25px;
  transition-property: opacity;
  transition-duration: 1500ms;
  transition-delay: 0s;
  transition-timing-function: ease-in-out;
}

.heart--full {
  font-size: 50px;
  width: 25px;
  height: 26px;
  position: relative;
  top: -2.8rem;
  opacity: 0;
  transform: scale(0.3);
  transform-origin: bottom;
  transition-property: transform, opacity;
  transition-duration: 500ms;
  transition-delay: 0s;
  transition-timing-function: ease-in;
}

.header .header__logo__container {
  width: 16.3rem;
  margin: 2.5rem auto 1.5rem auto;
}
.header .header__logo {
  width: 100%;
}
.header .header__icon {
  background-image: url("images/Icones/arrow-left-solid.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 2.5rem;
  height: 2.5rem;
  display: inline-block;
  position: absolute;
  top: 2.5rem;
  margin-right: auto;
  margin-left: 2rem;
}
@media (min-width: 600px) {
  .header .header__icon {
    left: 4rem;
  }
}
@media (min-width: 900px) {
  .header .header__icon {
    left: 5rem;
  }
}

@media (min-width: 900px) {
  .header-home {
    display: flex;
    justify-content: center;
    position: relative;
  }
}

@media (min-width: 900px) {
  .header__logo__container-home {
    position: absolute;
    left: 5rem;
    top: 0.5rem;
  }
}

.footer {
  background-color: #343434;
  padding-bottom: 3rem;
}

.footer__container {
  margin: 2rem 0 0 2rem;
}
@media (min-width: 600px) {
  .footer__container {
    margin: 2rem 4rem 0 4rem;
  }
}
@media (min-width: 900px) {
  .footer__container {
    margin: 2rem 10rem 0 5rem;
    display: flex;
    flex-wrap: wrap;
  }
}
.footer__container .footer__logo {
  margin: 2.5rem 0;
  width: 10rem;
}
@media (min-width: 600px) {
  .footer__container .footer__logo {
    margin: 2.5rem 100% 2.5rem 0;
  }
}
.footer__container p {
  color: #fff;
  line-height: 2.4rem;
}
@media (min-width: 600px) {
  .footer__container p {
    margin-right: auto;
  }
}
.footer__container .footer__icon {
  background-repeat: no-repeat;
  background-position: left;
  background-size: 1rem 1.5rem;
  padding-left: 2rem;
}

.footer__icon__ustensils {
  background-image: url("images/Icones/utensils-solid-white.png");
}

.footer__icon__hands {
  background-image: url("images/Icones/hands-helping-solid-white.png");
}

/****************** Loading spinner ******************/
.load-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#9356dc, #ff79da);
  z-index: 999;
  animation: loader 100ms 3s both;
}

@keyframes loader {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  70% {
    opacity: 0;
  }
  100% {
    transform: translateX(-99999px);
  }
}
.load {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  width: 100%;
  height: 100px;
  line-height: 100px;
}
.load span {
  display: inline-block;
  margin: 0 1px;
  color: #fff;
  font-family: "Shrikhand", cursive;
  font-size: 30px;
}
.load span:nth-child(0) {
  animation: opacity-text 1400ms 0s 2 ease-in-out;
}
.load span:nth-child(1) {
  animation: opacity-text 1400ms 0.1111111111s 2 ease-in-out;
}
.load span:nth-child(2) {
  animation: opacity-text 1400ms 0.2222222222s 2 ease-in-out;
}
.load span:nth-child(3) {
  animation: opacity-text 1400ms 0.3333333333s 2 ease-in-out;
}
.load span:nth-child(4) {
  animation: opacity-text 1400ms 0.4444444444s 2 ease-in-out;
}
.load span:nth-child(5) {
  animation: opacity-text 1400ms 0.5555555556s 2 ease-in-out;
}
.load span:nth-child(6) {
  animation: opacity-text 1400ms 0.6666666667s 2 ease-in-out;
}
.load span:nth-child(7) {
  animation: opacity-text 1400ms 0.7777777778s 2 ease-in-out;
}
.load span:nth-child(8) {
  animation: opacity-text 1400ms 0.8888888889s 2 ease-in-out;
}
@media (min-width: 600px) {
  .load span {
    font-size: 100px;
  }
}

@keyframes opacity-text {
  0% {
    filter: opacity(0);
  }
  100% {
    filter: opacity(1);
  }
}
/*********************** SECTION: RECHERCHE **********************/
.search {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 1.5rem;
  background-color: #eaeaea;
  box-shadow: 0px 3px 0px rgba(50, 50, 50, 0.25) inset;
}
@media (min-width: 900px) {
  .search {
    border-radius: 2rem;
    margin: 1.5rem auto;
    width: 30rem;
    box-shadow: 2px 2px 0px rgba(50, 50, 50, 0.25) inset;
  }
}

.icon {
  width: 15px;
}

.search__icon {
  margin: 0 1rem 0 0;
}

.search__place {
  width: 15rem;
  display: inline-flex;
  justify-content: center;
}
.search__place input {
  outline: none;
  border: none;
  height: 100%;
  width: 15rem;
  margin: 0 auto;
  background-color: #eaeaea;
}
.search__place input::placeholder {
  color: #111;
  opacity: 1;
  font-size: 1.8rem;
}

/*********************** SECTION: VALUE **********************/
.value {
  background-color: #f6f6f6;
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.value .value__title {
  text-align: center;
  margin: 2rem;
}
@media (min-width: 900px) {
  .value .value__title {
    font-size: 4.2rem;
  }
}
.value .value__info {
  margin: 0 1.5rem 2rem 1.5rem;
  text-align: center;
  color: gray;
  font-size: 1.6rem;
}

/*********************** SECTION: OPERATION **********************/
.op {
  margin: 3rem 2rem 9rem 2rem;
}
.op h1 {
  margin-bottom: 4rem;
}
@media (min-width: 600px) {
  .op h1 {
    text-align: center;
    margin-bottom: 1rem;
  }
}
@media (min-width: 600px) {
  .op {
    margin: 3rem 4rem 9rem 4rem;
  }
}
@media (min-width: 900px) {
  .op {
    margin: 3rem 5rem 9rem 5rem;
  }
}

.op__card__container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2.5rem;
}
@media (min-width: 600px) {
  .op__card__container {
    width: 60%;
    margin: 2.5rem 1rem 0 1rem;
    padding: 0 1rem;
  }
}
@media (min-width: 900px) {
  .op__card__container {
    width: 30%;
  }
}
.op__card__container .op__number {
  box-sizing: content-box;
  background-color: #9356dc;
  border-radius: 50%;
  color: #fff;
  width: 2rem;
  height: 2rem;
  text-align: center;
  margin-left: -15px;
  padding: 5px 3px 2px 3px;
}

.op__card {
  background-color: #f6f6f6;
  border-radius: 2rem;
  height: 7rem;
  width: 100%;
  display: flex;
  align-items: center;
  margin-left: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
}
.op__card:hover {
  background-color: rgba(147, 86, 220, 0.1);
}
.op__card:hover .op__card__icon__1 {
  background-image: url("images/Icones/mobile-alt-solid-purple.png");
}
.op__card:hover .op__card__icon__2 {
  background-image: url("images/Icones/bars-solid-purple.png");
}
.op__card:hover .op__card__icon__3 {
  background-image: url("images/Icones/store-solid-purple.png");
}
.op__card .op__card__icon {
  background-size: 1.5rem;
  background-position: center;
  background-repeat: no-repeat;
  height: 3rem;
  width: 2rem;
  margin: 0 1.5rem;
}
.op__card .op__card__icon__1 {
  background-image: url("images/Icones/mobile-alt-solid-gray.png");
}
.op__card .op__card__icon__2 {
  background-image: url("images/Icones/bars-solid-gray.png");
}
.op__card .op__card__icon__3 {
  background-image: url("images/Icones/store-solid-gray.png");
  background-size: 2rem;
}

@media (min-width: 600px) {
  .op__container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

/*********************** SECTION: RESTAURANT **********************/
.resto {
  margin: 5rem 2rem;
}
.resto .resto__title {
  margin-bottom: 2rem;
}
@media (min-width: 600px) {
  .resto .resto__title {
    text-align: center;
  }
}
.resto .resto__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.resto__card {
  width: 100%;
  height: 25rem;
  border-radius: 1.5rem;
  position: relative;
  margin: 2rem 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
}
.resto__card > * {
  text-decoration: none;
  color: initial;
  display: block;
  width: 100%;
  height: 100%;
}
@media (min-width: 600px) {
  .resto__card {
    margin: 2rem;
    height: 28rem;
  }
}
@media (min-width: 600px) {
  .resto__card {
    width: 60%;
    margin: 2rem;
  }
}
@media (min-width: 900px) {
  .resto__card {
    width: 40%;
  }
}
.resto__card img {
  width: 100%;
  height: 17.5rem;
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
}
@media (min-width: 600px) {
  .resto__card img {
    height: 20.5rem;
  }
}
.resto__card .resto__card__badge {
  color: #018765;
  background-color: #99e2d0;
  padding: 1rem 1.5rem;
  border-radius: 0.2rem;
  position: absolute;
  top: 2rem;
  right: 2rem;
  font-size: 1.4rem;
}
.resto__card h1 {
  font-size: 2rem;
  margin: 1rem auto 0.5rem 1.5rem;
}
.resto__card .resto__card__lieu {
  margin: 0 1.5rem;
}
.resto__card .resto__card__heart {
  position: absolute;
  height: 3.1rem;
  width: 2.7rem;
  right: 2.5rem;
  bottom: 1.7rem;
}
.resto__card .resto__card__heart:hover .heart--empty {
  opacity: 0;
}
.resto__card .resto__card__heart:hover .heart--full {
  opacity: 1;
  transform: scale(1);
}

.main__image {
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  height: 25.5rem;
}
@media (min-width: 600px) {
  .main__image {
    margin: 0 4rem;
    width: auto;
    border-radius: 1rem;
  }
}
@media (min-width: 900px) {
  .main__image {
    margin: 0 5rem;
    width: auto;
  }
}

.main__image-delice {
  background-image: url("images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
}

.main__image-palette {
  background-image: url("images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
}

.main__image-enchantee {
  background-image: url("images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
}

.main__image-française {
  background-image: url("images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
}

.menu {
  border-top-left-radius: 3rem;
  border-top-right-radius: 3rem;
  margin-top: -17%;
  background-color: #fff;
}
@media (min-width: 600px) {
  .menu {
    margin: 2rem 4rem;
    width: auto;
    border-radius: 1rem;
  }
}
@media (min-width: 900px) {
  .menu {
    margin: 2rem 5rem;
  }
}

.menu__container {
  padding: 2rem 1.5rem;
}
@media (min-width: 600px) {
  .menu__container {
    padding: 0;
  }
}

.menu__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu__title h1 {
  font-family: "Shrikhand", cursive;
  font-size: 2.4rem;
  margin-left: 0.5rem;
}
.menu__title .heart__icon {
  position: relative;
  margin-right: 0rem;
}
.menu__title .heart__icon:hover .heart--empty {
  opacity: 0;
}
.menu__title .heart__icon:hover .heart--full {
  opacity: 1;
  transform: scale(1);
}
.menu__title .heart__icon--full {
  top: 0;
  right: 2.75rem;
}

.menu__subcategories {
  margin-bottom: 5rem;
}
.menu__subcategories h2 {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 300;
  margin: 2rem 0 0.2rem 0.5rem;
}
.menu__subcategories .line {
  border-bottom: 3px solid #99e2d0;
  display: block;
  width: 4rem;
  margin-left: 0.5rem;
}

.menu__card {
  box-shadow: 2px 4px 8px 3px rgba(0, 0, 0, 0.1);
  border-radius: 1.5rem;
  display: flex;
  height: 7rem;
  width: 100%;
  transition: transform 5s;
  margin: 2rem 0;
  cursor: pointer;
  position: relative;
  animation: nuage 1300ms forwards;
}
.menu__card:hover .menu__card__right {
  width: 6rem;
}
.menu__card:hover .fa-check-circle {
  transform: rotate(1turn);
}

@keyframes nuage {
  from {
    opacity: 0;
    transform: translateY(8rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.menu__card__right {
  height: 100%;
  border-top-right-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  transition-property: all;
  transition-duration: 300ms;
  background-color: #99e2d0;
  width: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu__card__right .fa-check-circle {
  color: #fff;
  width: 2.5rem;
  height: 2.5rem;
  transform: rotate(0turn);
  transition: transform 1000ms;
}

.menu__card__left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 1rem 0;
}
.menu__card__left p {
  font-size: 1.3rem;
  line-height: 2rem;
  margin: 0 1rem;
}
.menu__card__left .bold {
  font-size: 1.6rem;
  font-weight: 600;
}
.menu__card__left .menu__card__price {
  align-self: flex-end;
  margin: 0 2rem 0.4rem 0;
}

/*# sourceMappingURL=style.css.map */
