.btn {
    display: block;
    background: linear-gradient(to top left, $primary, $secondary);
    color: #fff;
    padding: 1.5rem 2.5rem;
    margin: 1rem auto 3rem auto;
    align-content: center;
    border-radius: 20rem;
    border-style: none;
    font-size: 2rem;
    cursor: pointer;
    outline: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 1;
    transform: opacity;
    &:hover {
        &::after {
            opacity: 1;
        }
    }
    &::after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: linear-gradient(to top left, lighten($primary, 1), lighten($secondary, 3));
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
        color: #fff;
        z-index: -1;
        opacity: 0;
        transition: opacity 100ms;
        border-radius: 20rem;
    }
}
