/*********************** HOMEPAGE, SECTION: RESTAURANT **********************/

.resto__card {
    width: 100%;
    height: 25rem;
    border-radius: 1.5rem;
    position: relative;
    margin: 2rem 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    & > * {
        text-decoration: none;
        color: initial;
        display: block;
        width: 100%;
        height: 100%;
    }
    @include for-tab {
        margin: 2rem;
        height: 28rem;
    }
    @include for-tab {
        width: 60%;
        margin: 2rem;
    }
    @include for-laptop {
        width: 40%;
    }
    img {
        width: 100%;
        height: 17.5rem;
        border-top-left-radius: 1.5rem;
        border-top-right-radius: 1.5rem;
        @include for-tab {
            height: 20.5rem;
        }
    }
    .resto__card__badge {
        color: #018765;
        background-color: $tertiary;
        padding: 1rem 1.5rem;
        border-radius: 0.2rem;
        position: absolute;
        top: 2rem;
        right: 2rem;
        font-size: 1.4rem;
    }
    .rest__card__title {
        font-size: 1.6rem;
        margin: 1rem auto 0.5rem 1.5rem;
    }
    .resto__card__lieu {
        margin: 0 1.5rem;
    }
    .resto__card__heart {
        position: absolute;
        height: 3.1rem;
        width: 2.7rem;
        right: 2.5rem;
        bottom: 1.7rem;
        &:hover {
            .heart--empty {
                opacity: 0;
            }
            .heart--full {
                opacity: 1;
                transform: scale(1);
            }
        }
    }
}

/*********************** PAGE RESTAURANT, SECTION: MENU **********************/

.menu__card {
    box-shadow: 2px 4px 8px 3px rgba(0, 0, 0, 0.1);
    border-radius: 1.5rem;
    display: flex;
    height: 7rem;
    width: 100%;
    transition: transform 5s;
    margin: 2rem 0;
    cursor: pointer;
    position: relative;

    &:hover {
        .menu__card__right {
            width: 6rem;
        }
        .fa-check-circle {
            transform: rotate(1turn);
            opacity: 1;
        }
    }
}

.menu__card__right {
    height: 100%;
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
    transition-property: all;
    transition-duration: 300ms;
    background-color: $tertiary;
    width: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .fa-check-circle {
        color: #fff;
        width: 2.5rem;
        height: 2.5rem;
        transform: rotate(0turn);
        transition: transform 1000ms;
        opacity: 0;
    }
}
.menu__card__left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 1rem 0;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    .menu__card__text {
        font-size: 1.3rem;
        line-height: 2rem;
        margin: 0 1rem;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .bold {
        font-size: 1.6rem;
        font-weight: 600;
    }
    .menu__card__price {
        position: relative;
        right: 1.2rem;
        bottom: -0.4rem;
    }
}
