.heart--empty {
    width: 25px;
    height: 25px;
    transition-property: opacity;
    transition-duration: 1500ms;
    transition-delay: 0s;
    transition-timing-function: ease-in-out;
}
.heart--full {
    font-size: 50px;
    width: 25px;
    height: 26px;
    position: relative;
    top: -2.8rem;
    opacity: 0;
    transform: scale(0.3);
    transform-origin: bottom;
    transition-property: transform, opacity;
    transition-duration: 500ms;
    transition-delay: 0s;
    transition-timing-function: ease-in;
}
