* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
    @include for-desktop {
        font-size: 11px;
    }
}
body {
    max-width: 1440px;
    margin: 0 auto;
}
.wrapper {
    @include for-laptop {
        display: flex;
        position: relative;
    }
    .main {
        @include for-laptop {
            width: calc(100% - 30rem);
        }
    }
}
h1,
h2 {
    font-family: "Roboto", arial, sans-serif;
    font-size: 2.8rem;
}
p {
    font-family: "Roboto", arial, sans-serif;
    font-size: 1.6rem;
}
