/****************** Loading spinner ******************/

$num-letters: 8;
$anim-dur: 1400ms;
$anim-delay: $anim-dur / $num-letters;

.load-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#9356dc, #ff79da);
    z-index: 999;
    animation: loader 100ms 3s both;
}
@keyframes loader {
    0% {
        transform: translateX(0);
        opacity: (1);
    }
    70% {
        opacity: (0);
    }
    100% {
        transform: translateX(-99999px);
    }
}
.load {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    width: 100%;
    height: 100px;
    line-height: 100px;
    span {
        display: inline-block;
        margin: 0 1px;
        color: #fff;
        font-family: "Shrikhand", cursive;
        font-size: 30px;
        @for $i from 0 through $num-letters {
            &:nth-child(#{$i}) {
                animation: opacity-text $anim-dur (#{$i/9}) + s 2 ease-in-out;
            }
        }
        @include for-tab {
            font-size: 100px;
        }
    }
}

@keyframes opacity-text {
    0% {
        filter: opacity(0);
    }
    100% {
        filter: opacity(1);
    }
}

/*********************** SECTION: RECHERCHE **********************/
.search {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 1.5rem;
    background-color: #eaeaea;
    box-shadow: 0px 3px 0px rgba(50, 50, 50, 0.25) inset;
    @include for-laptop {
        border-radius: 2rem;
        margin: 1.5rem auto;
        width: 30rem;
        box-shadow: 2px 2px 0px rgba(50, 50, 50, 0.25) inset;
    }
}
.icon {
    width: 15px;
}
.search__icon {
    margin: 0 1rem 0 0;
}
.search__place {
    width: 15rem;
    display: inline-flex;
    justify-content: center;
    input {
        outline: none;
        border: none;
        height: 100%;
        width: 15rem;
        margin: 0 auto;
        background-color: #eaeaea;

        &::placeholder {
            color: #111;
            opacity: 1;
            font-size: 1.8rem;
        }
    }
}

/*********************** SECTION: VALUE **********************/

.value {
    background-color: $bg_color;
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    .value__title {
        text-align: center;
        margin: 2rem;
        @include for-laptop {
            font-size: 4.2rem;
        }
    }
    .value__info {
        margin: 0 1.5rem 2rem 1.5rem;
        text-align: center;
        color: gray;
        font-size: 1.6rem;
    }
}

/*********************** SECTION: OPERATION **********************/

.op {
    margin: 3rem 2rem 9rem 2rem;
    h1 {
        margin-bottom: 4rem;
        @include for-tab {
            text-align: center;
            margin-bottom: 1rem;
        }
    }
    @include for-tab {
        margin: 3rem 4rem 9rem 4rem;
    }
    @include for-laptop {
        margin: 3rem 5rem 9rem 5rem;
    }
}
.op__card__container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2.5rem;
    @include for-tab {
        width: 60%;
        margin: 2.5rem 1rem 0 1rem;
        padding: 0 1rem;
    }
    @include for-laptop {
        width: 30%;
    }
    .op__number {
        box-sizing: content-box;
        background-color: $primary;
        border-radius: 50%;
        color: #fff;
        width: 2rem;
        height: 2rem;
        text-align: center;
        margin-left: -15px;
        padding: 5px 3px 2px 3px;
    }
}
.op__card {
    background-color: $bg_color;
    border-radius: 2rem;
    height: 7rem;
    width: 100%;
    display: flex;
    align-items: center;
    margin-left: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    &:hover {
        background-color: rgba(147, 86, 220, 0.1);
        .op__card__icon__1 {
            background-image: url("images/Icones/mobile-alt-solid-purple.png");
        }
        .op__card__icon__2 {
            background-image: url("images/Icones/bars-solid-purple.png");
        }
        .op__card__icon__3 {
            background-image: url("images/Icones/store-solid-purple.png");
        }
    }
    .op__card__icon {
        background-size: 1.5rem;
        background-position: center;
        background-repeat: no-repeat;
        height: 3rem;
        width: 2rem;
        margin: 0 1.5rem;
    }
    .op__card__icon__1 {
        background-image: url("images/Icones/mobile-alt-solid-gray.png");
    }
    .op__card__icon__2 {
        background-image: url("images/Icones/bars-solid-gray.png");
    }
    .op__card__icon__3 {
        background-image: url("images/Icones/store-solid-gray.png");
        background-size: 2rem;
    }
}
.op__container {
    @include for-tab {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

/*********************** SECTION: RESTAURANT **********************/

.resto {
    margin: 5rem 2rem;
    .resto__title {
        margin-bottom: 2rem;
        @include for-tab {
            text-align: center;
        }
    }

    .resto__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
    }
}
.resto__card {
    width: 100%;
    height: 25rem;
    border-radius: 1.5rem;
    position: relative;
    margin: 2rem 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    & > * {
        text-decoration: none;
        color: initial;
        display: block;
        width: 100%;
        height: 100%;
    }
    @include for-tab {
        margin: 2rem;
        height: 28rem;
    }
    @include for-tab {
        width: 60%;
        margin: 2rem;
    }
    @include for-laptop {
        width: 40%;
    }
    img {
        width: 100%;
        height: 17.5rem;
        border-top-left-radius: 1.5rem;
        border-top-right-radius: 1.5rem;
        @include for-tab {
            height: 20.5rem;
        }
    }
    .resto__card__badge {
        color: #018765;
        background-color: $tertiary;
        padding: 1rem 1.5rem;
        border-radius: 0.2rem;
        position: absolute;
        top: 2rem;
        right: 2rem;
        font-size: 1.4rem;
    }
    h1 {
        font-size: 2rem;
        margin: 1rem auto 0.5rem 1.5rem;
    }
    .resto__card__lieu {
        margin: 0 1.5rem;
    }
    .resto__card__heart {
        position: absolute;
        height: 3.1rem;
        width: 2.7rem;
        right: 2.5rem;
        bottom: 1.7rem;
        &:hover {
            .heart--empty {
                opacity: 0;
            }
            .heart--full {
                opacity: 1;
                transform: scale(1);
            }
        }
    }
}
