.main__img {
    width: 100%;
    height: 25rem;
    z-index: 2;
    position: relative;
    margin-bottom: -5rem;
    @include for-tab {
        margin: 0 9%;
        width: 80%;
        border-radius: 1rem;
        height: 30rem;
        position: static;
    }
    @include for-laptop {
        margin-left: 10%;
        border-radius: 1rem;
        height: 40rem;
    }
}

.menu {
    border-top-left-radius: 3rem;
    border-top-right-radius: 3rem;
    z-index: 3;
    position: relative;
    background-color: #fff;
    @include for-tab {
        margin: 2rem 4rem;
        border-radius: 1rem;
        position: static;
    }
    @include for-laptop {
        margin: 2rem 5rem;
    }
}
.menu__container {
    padding: 2rem 1.5rem;
    @include for-tab {
        padding: 0;
    }
}
.menu__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h1 {
        font-family: "Shrikhand", cursive;
        font-size: 2.4rem;
        margin-left: 0.5rem;
    }
    .heart__icon {
        position: relative;
        margin-right: 0;
        &:hover {
            .heart--empty {
                opacity: 0;
            }
            .heart--full {
                opacity: 1;
                transform: scale(1);
            }
        }
    }
    .heart__icon--full {
        top: 4px;
        right: 27px;
    }
}
.menu__subcategories {
    margin-bottom: 5rem;
    animation: nuage 1500ms;
    @for $i from 1 through 3 {
        &--#{$i} {
            animation-delay: 3000ms * $i;
        }
    }
    h2 {
        text-transform: uppercase;
        font-size: 1.5rem;
        font-weight: 300;
        margin: 2rem 0 0.2rem 0.5rem;
    }
    .line {
        border-bottom: 3px solid $tertiary;
        display: block;
        width: 4rem;
        margin-left: 0.5rem;
    }
}
@keyframes nuage {
    0% {
        opacity: 0.3;
        transform: translateY(4rem);
    }
    50% {
        opacity: 0.7;
        transform: translateY(3rem);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
/*********************** SECTION PANIER *****************************/

.panier {
    display: none;
    @include for-laptop {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        height: 100%;
        width: 30rem;
        background-color: color(bg_color);
        box-shadow: 2px 4px 8px 3px rgba(0, 0, 0, 0.1);
    }
    .panier__container {
        position: fixed;
        top: 0;
        bottom: 0;
        width: 30rem;
        height: 100vh;
        overflow-y: hidden;
        overflow-x: hidden;
    }
    .panier__title {
        margin-left: 10.5rem;
        margin-top: 9rem;
    }
    .fa-shopping-basket {
        height: 2.5rem;
        width: 2.5rem;
        margin: 3rem 13.5rem;
    }
    .panier__info {
        margin-left: 1.5rem;
    }
    .panier__line {
        border-bottom: 1px solid;
        border-color: $icon-color;
        width: 28rem;
        margin: 3rem auto 1rem 1rem;
        display: block;
    }
    .panier__commande {
        display: flex;
        justify-content: space-between;
        width: calc(30rem - 4.5rem);
        margin: 3rem 0 5rem 1.5rem;
        .panier__price {
            font-weight: bold;
        }
    }
    .panier__btn {
        margin-left: 7rem;
    }
}
