.main__image {
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 25.5rem;
    margin-bottom: -8rem;
    @include for-mobile {
        height: 32rem;
        margin-bottom: -6rem;
    }
    @include for-tab {
        margin: 0 4rem;
        width: auto;
        border-radius: 1rem;
        height: 40rem;
    }
    @include for-laptop {
        margin: 0 5rem;
        height: 50rem;
    }
    @include for-desktop {
        height: 60rem;
    }
}
.main__image-delice {
    background-image: url("images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
}
.main__image-palette {
    background-image: url("images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
}
.main__image-enchantee {
    background-image: url("images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
}
.main__image-française {
    background-image: url("images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
}

.menu {
    border-top-left-radius: 3rem;
    border-top-right-radius: 3rem;
    // margin-top: -17%;
    background-color: #fff;
    // @include for-mobile {
    //     margin-top: -30%;
    // }
    @include for-tab {
        margin: 2rem 4rem;
        width: auto;
        border-radius: 1rem;
    }
    @include for-laptop {
        margin: 2rem 5rem;
    }
}
.menu__container {
    padding: 2rem 1.5rem;
    @include for-tab {
        padding: 0;
    }
}
.menu__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h1 {
        font-family: "Shrikhand", cursive;
        font-size: 2.4rem;
        margin-left: 0.5rem;
    }
    .heart__icon {
        position: relative;
        margin-right: 0;
        &:hover {
            .heart--empty {
                opacity: 0;
            }
            .heart--full {
                opacity: 1;
                transform: scale(1);
            }
        }
    }
    .heart__icon--full {
        top: 4px;
        right: 27px;
    }
}

.menu__subcategories {
    margin-bottom: 5rem;
    h2 {
        text-transform: uppercase;
        font-size: 1.5rem;
        font-weight: 300;
        margin: 2rem 0 0.2rem 0.5rem;
    }
    .line {
        border-bottom: 3px solid $tertiary;
        display: block;
        width: 4rem;
        margin-left: 0.5rem;
    }
}

/* PANIER */
.wrapper {
    @include for-laptop {
        display: flex;
        position: relative;
    }
    .main {
        @include for-laptop {
            width: calc(100% - 30rem);
        }
    }
}
.panier {
    display: none;
    @include for-laptop {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        height: 100%;
        width: 30rem;
        background-color: color(bg_color);
        box-shadow: 2px 4px 8px 3px rgba(0, 0, 0, 0.1);
    }
    .panier__container {
        position: fixed;
        top: 0;
        bottom: 0;
        width: 30rem; /* viewport width */
        height: 100vh; /* viewport height */
        overflow-y: hidden;
        overflow-x: hidden;
    }
    .panier__title {
        margin-left: 10.5rem;
        margin-top: 9rem;
    }
    .fa-shopping-basket {
        height: 2.5rem;
        width: 2.5rem;
        margin: 3rem 13.5rem;
    }
    .panier__info {
        margin-left: 1.5rem;
    }
    .panier__line {
        border-bottom: 1px solid;
        border-color: $icon-color;
        width: 28rem;
        margin: 3rem auto 1rem 1rem;
        display: block;
    }
    .panier__commande {
        display: flex;
        justify-content: space-between;
        width: calc(30rem - 4.5rem);
        margin: 3rem 0 5rem 1.5rem;
        .panier__price {
            font-weight: bold;
        }
    }
    .panier__btn {
        margin-left: 7rem;
    }
}
