.main__image {
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 25.5rem;
    @include for-tab {
        margin: 0 4rem;
        width: auto;
        border-radius: 1rem;
    }
    @include for-laptop {
        margin: 0 5rem;
        width: auto;
    }
}
.main__image-delice {
    background-image: url("images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
}
.main__image-palette {
    background-image: url("images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
}
.main__image-enchantee {
    background-image: url("images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
}
.main__image-française {
    background-image: url("images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
}

.menu {
    border-top-left-radius: 3rem;
    border-top-right-radius: 3rem;
    margin-top: -17%;
    background-color: #fff;
    @include for-tab {
        margin: 2rem 4rem;
        width: auto;
        border-radius: 1rem;
    }
    @include for-laptop {
        margin: 2rem 5rem;
    }
}
.menu__container {
    padding: 2rem 1.5rem;
    @include for-tab {
        padding: 0;
    }
}
.menu__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h1 {
        font-family: "Shrikhand", cursive;
        font-size: 2.4rem;
        margin-left: 0.5rem;
    }
    .heart__icon {
        position: relative;
        margin-right: 0rem;
        &:hover {
            .heart--empty {
                opacity: 0;
            }
            .heart--full {
                opacity: 1;
                transform: scale(1);
            }
        }
    }
    .heart__icon--full {
        top: 0;
        right: 2.75rem;
    }
}

.menu__subcategories {
    margin-bottom: 5rem;
    h2 {
        text-transform: uppercase;
        font-size: 1.5rem;
        font-weight: 300;
        margin: 2rem 0 0.2rem 0.5rem;
    }
    .line {
        border-bottom: 3px solid $tertiary;
        display: block;
        width: 4rem;
        margin-left: 0.5rem;
    }
}

.menu__card {
    box-shadow: 2px 4px 8px 3px rgba(0, 0, 0, 0.1);
    border-radius: 1.5rem;
    display: flex;
    height: 7rem;
    width: 100%;
    transition: transform 5s;
    margin: 2rem 0;
    cursor: pointer;
    position: relative;
    animation: nuage 1300ms forwards;
    &:hover {
        .menu__card__right {
            width: 6rem;
        }
        .fa-check-circle {
            transform: rotate(1turn);
        }
    }
}
@keyframes nuage {
    from {
        opacity: 0;
        transform: translateY(8rem);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.menu__card__right {
    height: 100%;
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
    transition-property: all;
    transition-duration: 300ms;
    background-color: $tertiary;
    width: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .fa-check-circle {
        color: #fff;
        width: 2.5rem;
        height: 2.5rem;
        transform: rotate(0turn);
        transition: transform 1000ms;
    }
}
.menu__card__left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 1rem 0;
    p {
        font-size: 1.3rem;
        line-height: 2rem;
        margin: 0 1rem;
    }
    .bold {
        font-size: 1.6rem;
        font-weight: 600;
    }
    .menu__card__price {
        align-self: flex-end;
        margin: 0 2rem 0.4rem 0;
    }
}
.resto__btn {
    @include for-laptop {
        display: none;
    }
}

/* PANIER */
.wrapper {
    @include for-laptop {
        display: flex;
        position: relative;
    }
    .main {
        @include for-laptop {
            width: calc(100% - 30rem);
        }
    }
}
.panier {
    display: none;
    @include for-laptop {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        height: 100%;
        width: 30rem;
        background-color: color(bg_color);
        box-shadow: 2px 4px 8px 3px rgba(0, 0, 0, 0.1);
    }
    .panier__container {
        position: fixed;
        top: 0;
        bottom: 0;
        width: 31vw; /* viewport width */
        height: 100vh; /* viewport height */
        overflow-y: scroll;
        overflow-x: hidden;
    }
    .panier__title {
        margin-left: 10.5rem;
        margin-top: 9rem;
    }
    .fa-shopping-basket {
        height: 2.5rem;
        margin: 2.5rem auto 2.5rem 13.5rem;
        display: block;
    }
    .panier__info {
        margin-left: 1.5rem;
    }
    .panier__commande {
        display: flex;
        justify-content: space-between;
        width: calc(30rem - 4.5rem);
        margin: 3rem 0 5rem 1.5rem;
        .panier__price {
            font-weight: bold;
        }
    }
    .panier__btn {
        margin-left: 7rem;
    }
}
