// Colors

$colors: (
    primary: #9356dc,
    secondary: #ff79da,
    tertiary: #99e2d0,
    bg_color: #f6f6f6,
    icon-color: #7e7e7e,
);
// Breakpoints

$breakpoints: (
    mobile: 400px,
    tab: 600px,
    laptop: 900px,
    desktop: 1200px,
);
