.footer {
    background-color: #343434;
    padding-bottom: 3rem;
    @include for-laptop {
        padding-bottom: 6rem;
    }
}

.footer__container {
    margin: 2rem 0 0 2rem;
    @include for-tab {
        margin: 2rem 4rem 0 4rem;
    }
    @include for-laptop {
        margin: 2rem 10rem 0 5rem;
        display: flex;
        flex-wrap: wrap;
    }
    .footer__logo {
        margin: 2.5rem 0;
        width: 10rem;
        @include for-tab {
            margin: 2.5rem 40rem 2.5rem 0;
        }
        @include for-laptop {
            margin: 2.5rem 100rem 2.5rem 0;
        }
    }
    p {
        color: #fff;
        line-height: 2.4rem;
        @include for-tab {
            margin-right: auto;
        }
    }
    .footer__icon {
        background-repeat: no-repeat;
        background-position: left;
        background-size: 1rem 1.5rem;
        padding-left: 2rem;
    }
}
.footer__icon__ustensils {
    background-image: url("images/Icones/utensils-solid-white.png");
}
.footer__icon__hands {
    background-image: url("images/Icones/hands-helping-solid-white.png");
}
